@font-face {
  font-family: 'Inconsolata';
  src: url('./src/assets/fonts/static/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./src/assets/fonts/static/Inconsolata-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./src/assets/fonts/static/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./src/assets/fonts/static/Inconsolata-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
}

@import "tailwindcss";

@theme {
  --font-display: "Inconsolata", "sans-serif"; 
  --color-primary: #a21c1a;
  --color-font-primary: #180404;
  --color-secondary:#DD5D40;
  --color-fuxia: #FAA748;
  --color-light-pink: #f3eeedad;
  --color-poly: rgba(223, 12, 8, 0.493);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}